* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}
h2,
h3 {
  margin-bottom: 2rem;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 33, 33);
}
form {
  border: 1px solid rgb(112, 111, 111);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  box-shadow: 2px 0.2rem 0.5rem white;
}
fieldset {
  margin-bottom: 1rem;
  width: 70%;
  border: none;
}
.text {
  width: 100%;
  padding: 0.6rem 0rem 0.6rem 0.4rem;
  font-size: 1rem;
  border-radius: 8px;
  border-style: solid;
  outline: none;
  background-color: transparent;
}

button {
  width: 70%;
  padding: 0.7rem 0;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
}
